@use '../base/vars' as *;

.breadcrumb {
  margin-bottom: $space-xl;
  margin-top: $space-xl;
  color: $neutral-800;

  .chevron-right {
    width: 6px; 
    height: 12px;
  }

  a {
    color: $neutral-800;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span.contains-chevron {
    margin: 0 8px;
  }
}
