@use '../base/vars' as *;

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: $space-3xl;
  margin-bottom: $space-3xl;

  input {
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 8px 16px;
    gap: 10px;    
    width: 600px;
    height: 40px;    
    background: $neutral-100;
    border: 1px solid $neutral-400;
    border-radius: 8px;
    background-position: 20px center;
    background-repeat: no-repeat;
    text-indent: 38px;
    
  }
}
@media (max-width: $breakpoint-sm) {
  .search-bar {
    justify-content: center;

    input {
      width: calc(100% - $space-lg);
      margin-top: $space-sm;
    }
  }
}
