@use '../base/vars' as *;

.container {
  margin: 0 auto;
  background-color: $neutral-200;
  height: 100vh;
}

.content {
  background-color: $neutral-200;
  display: flex;
  flex-direction: column;
}
.fallbak-message-product-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fallback-message {
  background-color: $neutral-200;
  color: $error-500;
  margin-bottom:$space-lg;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}

@media (max-width: $breakpoint-sm) {
    .product-grid {
      flex-direction: column;
      align-items: center;
      gap: $space-lg;
      width: calc(100% - 40px);
    }

    .product-card { 
      width: 361px;     

      .product-image {       
        width: 329px;
        height: 300px;
        border-radius:$radius-s;
      }

      .product-price {        
        bottom: 27px;
        left: 27px;
      }

      .go-to-button {
        bottom: 27px;
        right: 27px;
      }
    }
  }

